body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 156px;
    margin-right: 156px;
    padding: 24px 0;
    gap: 332px;
}

.header .logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
    text-decoration: none;
}

.header__container a {
    list-style: none;
}

.header .logo-text.dark__text {
    color: #2e2f42; 
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 76px;
}

.header__contacts-text,
.header__menu-item {
    list-style: none;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

/* .logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.dark__text {
    color: #2E2F42;
} */

.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__menu-item a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

.header__menu-item a {
    text-decoration: none;
    color: #2E2F42;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    font-style: normal; 
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.header__contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__contacts-text a {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: #2E2F42;
    padding: 188px 472px;
}

.main__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #fff;
    width: 496px;
    line-height: 1.07; 
    letter-spacing: 0.02em;
}

.main__btn {
    font-family: "Roboto", sans-serif;
    width: 169px;
    height: 56px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
}

.main__btn:hover,
.main__btn:focus {
    background-color: #404BBF; 
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 120px 156px;
}
.features__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.features__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.features__container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 264px;
}

.features__item-title {
    font-family: "Roboto", sans-serif; 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2E2F42;
}

.features__item-text {
    font-family: "Roboto", sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #434455;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    padding: 120px 156px;
}

.team__title {
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.team__container-item {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team__item-img {
    width: 264px;
    height: 260px;
    margin-bottom: 32px;
}

.team__item-name {
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team__item-position {
    font-family: "Roboto", sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    text-align: center;
    color: #434455; 
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 156px;
    gap: 16px;
    background-color: #2E2F42;
}

.footer .logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: #4d5ae5; 
}

.footer .logo-text:last-child {
    color: #f4f4fd; 
}

.footer__text {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #F4F4FD;
    width: 264px;
}

.white-text {
    color: #f4f4fd;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 156px;
    gap: 72px;
    background-color: #fff;
    box-sizing: border-box;
}

.portfolio__title {
    font-size: 36px; 
    line-height: 1.11; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    text-align: center;
    color: #2e2f42;
}

.portfolio__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    row-gap: 48px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.portfolio__container-item {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 420px;
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
    overflow: hidden;
}

.portfolio__item-img {
    width: 360px;
    height: 300px;
}

.portfolio__item-title {
    margin-top: 32px;
    margin-left: 16px;
    color: #2E2F42;
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    text-align: left;
}

.portfolio__item-text {
    margin-top: 8px;
    margin-left: 16px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    text-align: left;
}